<div>
    <form name="jtbdForm">
        <div class="form-group">
            <select name="product" ng-model="job.productId">
                <option ng-repeat="val in productList" value="{{$index}}">{{val.title}}</option>
            </select>
        </div>
        <div class="form-group">
            <input type="text" name="title" placeholder="title" ng-model="job.title" />
        </div>
        <div class="form-group">
            <textarea type="text" name="description" placeholder="description" ng-model="job.description" />
        </div>
        <div class="form-group">
            <select name="type" ng-model="job.type">
                <option value="0" selected="selected">functional (default)</option>
                <optgroup label="emotional" >
                    <option value="1">personal</option>
                    <option value="2">social</option>
                </optgroup>
            </select>
        </div>
        <div class="form-group">
            <select name="priority" ng-model="job.priority">
                <option value="0">No Priority</option>
                <option value="1">Low Priority</option>
                <option value="3">Medium Priority</option>
                <option value="5">High Priority</option>
                <option value="7">Critical</option>
            </select>
        </div>
        <div class="form-group">
            <input type="button" value="add" ng-click="addJtbd( job, $index )" />
        </div>
    </form>
</div>