<div class="panel-body">
    <div class="panel-body">
        <table class="table table-striped">
            <th colspan="6">Products</th>
            <tr ng-repeat="product in productList">
                <td class="indexOfList">{{$index+1}}</td>
                <td>{{product.title}}</td>
                <td>{{product.description}}</td>
                <td>{{product.priority}}</td>
                <!--<td><button class="btn btn-warning btn-xs">edit</button></td>-->
                <td><button ng-click="removeProduct( $index )" class="btn btn-danger btn-xs">delete</button></td>
            </tr>
            <tr ng-if="!productList.length" ><td colspan="4">No results found. You may wish to add one above.</td></tr>
        </table>
    </div>