<div>
    <div class="panel pandel-default">
        <div class="panel-header tapRight">
            <h3>Add a:</h3>
            <div class="btn-group" role="group" aria-label="Choose between adding a product or JTBD">
                <button ng-model="addProduct" ng-init="addingProduct=false;addingJtbd=false;" ng-click="addingProduct=true;addingJtbd=false;" type="button" class="btn btn-default">Product</button>
                <button ng-disabled="jobsDisabled" ng-model="addingJtbd" ng-click="addingProduct=false;addingJtbd=true;" type="button" class="btn btn-default">JTBD</button>
            </div>
        </div>
        <div class="panel-body">
            <div class="panel-body">
                <div ng-show="addingProduct">
                    <h3>Add a product:</h3>
                    <div ng-include="'views/partials/edit/productForm.partial.html'"></div>
                </div>
                <div ng-show="addingJtbd">
                    <h3>Add a Job to be Done:</h3>
                    <div ng-include="'views/partials/edit/jtbdForm.partial.html'"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">What we've got so far: <span class="pull-right"><form><input type="text" ng-model="filterText" placeholder="filter" /></form></span></div>
            <div ng-include="'views/partials/edit/productDisplay.partial.html'"></div>
            <div ng-include="'views/partials/edit/jtbdDisplay.partial.html'"></div>
        </div>
    </div>
</div>
