<div>
    <div class="panel pandel-default">
        <div class="panel-header">
            <div class="btn-group" role="group" aria-label="Choose between adding a product or JTBD">
                <button ng-model="addProduct" ng-click="addProduct=true;addJtbd=false;" type="button" class="btn btn-default">Product</button>
                <button ng-disabled="!productsList.length" ng-model="addJtbd" ng-click="addProduct=false;addJtbd=true;" type="button" class="btn btn-default">JTBD</button>
            </div>
        </div>
        <div class="panel-body">
            <div class="panel-body">
                <div ng-show="addProduct">
                    <h3>Add a product:</h3>
                    <div ng-include="'views/partials/edit/productForm.partial.html'"></div>
                </div>
                <div ng-show="addJtbd">
                    <h3>Add a Job to be Done:</h3>
                    <div ng-include="'views/partials/edit/jtbdForm.partial.html'"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">What we've got so far: <span class="pull-right"><form><input type="text" ng-model="filterText" placeholder="filter" /></form></span></div>
        <div class="panel-body">
            <div class="panel-body">
                <table class="table table-striped">
                    <th colspan="6">Products</th>
                    <tr ng-repeat="product in productList | filter: filterText | orderBy: product.title">
                        <td>{{product.id}}</td>
                        <td>{{product.title}}</td>
                        <td>{{product.description}}</td>
                        <td>{{product.priority}}</td>
                        <td><button class="btn btn-warning">edit</button></td>
                        <td><button class="btn btn-danger">delete</button></td>
                    </tr>
                    <tr ng-if="!productList.length" ><td colspan="4">No results found. You may wish to add one above.</td></tr>
                </table>
            </div>
            <div class="panel-body">
                <table class="table table-striped">
                    <th colspan="7">Jobs to be Done</th>
                    <tr ng-repeat="jtbd in jtbdList | filter: filterText | orderBy: jtbd.product">
                        <td>{{jtbd.id}}</td>
                        <td>{{jtbd.title}}</td>
                        <td>{{jtbd.description}}</td>
                        <td>{{jtbd.product}}</td>
                        <td>{{jtbd.priority}}</td>
                        <td><button class="btn btn-warning">edit</button></td>
                        <td><button class="btn btn-danger">delete</button></td>
                    </tr>
                    <tr ng-if="!jtbdList.length" ><td colspan="4">No results found. You may wish to add one above.</td></tr>
                </table>
            </div>
        </div>
    </div>
</div>
