<div class="row marketing">
    <h4>Jobs to be Done. (JTBD)</h4>
    <p>A job-to-be-done (JTBD) is a way of outlining and describing a service or product.</p>
    <p><a href="http://innovatorstoolkit.com/content/technique-1-jobs-be-done" target="_blank">JTBD are famous, but not yet that famous.</a></p>
    <p>A set of JBTD may be described about something as simple as a piece of chewing gum:</p>
        <ul>
            <li>Provide some calories (but not too many) while not actually eating. (functional jtbd)</li>
            <li>Provide a feeling of refreshment and taste. (emotional/personal jtbd)</li>
            <li>Increase others' and your own confort in social circumstances with feeling of fresher breath for all participating. (emotional/social jtbd)</li>
        </ul>
    <p>While this is a contrived example of a century old technology of chewing gum, it's intent is to <a href="https://medium.com/@marksweep/how-to-introduce-jobs-to-be-done-to-your-organization-de7800ee313b" target="_blank">point out</a> what others <a href="" target="_blank">describe</a> as <a href="https://medium.com/the-job-to-be-done/jobs-spur-creativity-5c33d8e195b4" target="_blank">a very reasonable way</a> of <a href="" target="_blank">thinking</a> about <a href="https://medium.com/the-job-to-be-done/replacing-the-user-story-with-the-job-story-af7cdee10c27" target="_blank">one's own</a> or <a href="https://medium.com/the-job-to-be-done/the-jobs-to-be-done-of-my-iphone-8733f374fc33" target="_blank">others' products.</a></p>
    <p>Still interested? Why not try and <a ng-href="#/edit">add a few?</a> You will need to add a product and then it's JTBD.</p>
    <p>Nothing is sent to us. You can save to your own Google Drive and reopen whenever you like.</p>
</div>
